* {
  padding: 0;
  margin: 0;
}
.app {
  background-image: url("/public//images/background1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
h2 {
  font-size: 2rem;
  text-align: center;
  color: #fff;
}
textarea , select{
  padding-bottom: 1rem;
  border-radius: 5px;
}

.error {
  color: red;
}
.container {
  background-color: transparent;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
  backdrop-filter: blur(15px);
}
.form-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 300px;
}
.form-control label {
  color: #fff;
  align-self: self-start;
}
.form-control input{
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
}
.checkbox-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.radio-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
button {
  cursor: pointer;
  width: 200px;
  align-self: center;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(47, 177, 192);
  color: #fff;
}
button:hover {
  opacity: 0.7;
}
#address {
  width: 92%;
}
.form-container {
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 1rem;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
}
